/scripts/Set-WhatsAppEnvVars.ps1
.vscode
.vs
/docs
obj
bin
*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc    
*.pidb
*.scc
*.dll
*.css

.secrets

.well-known
compilerconfig.json
test-resource-key.json

temp/
copilot-instructions.md
AtendeLogo.AppHost/
AtendeLogo.ServiceDefaults/
AtendeLogo.TenantPortal/
tools/
Web.config

AtendeLogo.TenantPortal.BlazorServer/
AtendeLogo.TenantPortal.BlazorWasm/
AtendeLogo.TenantPortal/
AtendeLogo.IdentityApi/
lang/